# Python
__pycache__/
./**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.ruff_cache/
.pyright/

# Virtual env
.venv/

# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn.lock
*.tgz

# Build artifacts
build/
dist/
*.spec

# Go binaries
bin/*
!bin/crush-md.js
main

# SQLite
.crush/
*.db
*.sqlite
*.sqlite3

# Editors
.vscode/
.idea/
.DS_Store


out.md